
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLyout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>Kategori Adi</label>
        <input type="text" class="form-control" name="KategoriAd" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">EKLE</button>
    </div>
</form>
